.btn-heart {
    color: var(--theme-color) !important;
}

.btn-heart:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 2px 4px var(--inverse-theme-color)) !important;
}

.btn-heart:active {
    transform: scale(0.95);
}

.btn-heart.active i {
    color: var(--theme-color) !important;
    text-shadow: 0 0 8px var(--inverse-theme-color) !important;
}

.btn-heart i {
    transition: all 0.3s ease;
}
