.btn-heart {
    color: rgb(241, 241, 143);
}

.btn-heart:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 2px 4px rgba(241, 241, 143, 0.4));
}

.btn-heart:active {
    transform: scale(0.95);
}

.btn-heart.active i {
    color: rgb(241, 241, 143);
    text-shadow: 0 0 8px rgba(241, 241, 143, 0.593);
}

.btn-heart i {
    transition: all 0.3s ease;
}
